<%- include("partials/header") %>
<p id="rcorners1"><%= cityname %> ,<%= country %><span> <br>Temp:<%= temp %>째C </p>
<div class="extras">
<p class="extracontent">Feels Like<span style="margin-left: 259px;"><%= value1 %>째C<span></p>
<hr>
<p class="extracontent">Temp Minimum<span style="margin-left: 216px;"><%= value2 %>째C<span></p>
<hr>
<p class="extracontent">Temp Maximum<span style="margin-left: 215px;"><%= value3 %>째C<span></p>
<hr>
<p class="extracontent">Humidity<span style="margin-left: 264px;"><%= value4 %><span></p>
<hr>
</div>

<%- include("partials/footer") %>
